<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading Bar</title>
    <link rel="stylesheet" href="../css/components/loading-bar.css">
</head>
<body>
    <div class="progress-container">
        <div class="progress-track"></div>
        <div class="progress-bar" id="progress-bar"></div>
        <div class="steps-container">
            <div class="step" id="step1"><img src="../images/loading-bar/ordered-icon.svg" alt="Ordered"></div>
            <div class="step" id="step2"><img src="../images/loading-bar/cooking-icon.svg" alt="Cooking"></div>
            <div class="step" id="step3"><img src="../images/loading-bar/almost-done-icon.svg" alt="Almost Done"></div>
            <div class="step" id="step4"><img src="../images/loading-bar/complete-icon.svg" alt="Complete"></div>
        </div>
    </div>
    
    <script src="../js/components/loading-bar.js"></script>
</body>
</html>
