<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Bar</title>
    <link rel="stylesheet" href="../css/components/menu-bar.css">
    <link rel="stylesheet" href="../css/components/main_components.css">
</head>
<body>
    <div class="lantern-wrapper">
        <div class="hanging-bar"></div> <!-- Red bar above the lanterns -->
    
        <div class="lantern-group">
            <!-- Entree -->
            <div class="lantern-category entree">
                <div class="lantern-container" onclick="toggleLight(this)">
                    <div class="lantern-text">Entree</div>
                    <img src="../images/menu-bar/off-lantern.svg" class="lantern">
                </div>
            </div>
        
            <!-- Sides -->
            <div class="lantern-category sides">
                <div class="lantern-container" onclick="toggleLight(this)">
                    <div class="lantern-text">Sides</div>
                    <img src="../images/menu-bar/off-lantern.svg" class="lantern">
                </div>
            </div>
        
            <!-- Soups -->
            <div class="lantern-category soups">
                <div class="lantern-container" onclick="toggleLight(this)">
                    <div class="lantern-text">Soups</div>
                    <img src="../images/menu-bar/off-lantern.svg" class="lantern">
                </div>
            </div>
        
            <!-- Drinks -->
            <div class="lantern-category drinks">
                <div class="lantern-container" onclick="toggleLight(this)">
                    <div class="lantern-text">Drinks</div>
                    <img src="../images/menu-bar/off-lantern.svg" class="lantern">
                </div>
            </div>
        </div>

    </div>

    <script src="../js/components/menu-bar.js"></script>
</body>

</html>