<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plus and Minus</title>
    <link rel="stylesheet" href="../css/components/plus-minus-btn.css">
    <link rel="stylesheet" href="../css/components/main_components.css">
</head>
<body>
    <div class="quantity">
        <button class="minus" aria-label="Decrease">&minus;</button>
        <input type="number" class="input-box" value="1" min="1" max="10">
        <button class="plus" aria-label="Increase">&plus;</button>
    </div>

    <script src="../js/components/plus-minus-btn.js"></script>
</body>
</html>