<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Truck Order Tracker</title>
    <link rel="stylesheet" href="../css/beta/components/track-order-banner.css">
</head>
<body>
    <div class="order-tracking-banner">
        <a href="../beta/order-progress-2.php">
            <span class="pickup-time"><h3>Pickup Time: 12:45 PM</h3></span>
            <span class="order-number"><h3>Order #420</h3></span>
        </a>
    </div>
</body>
</html>
