
.progress-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 90%;
    max-width: 500px;
}
.progress-bar {
    position: absolute;
    height: 15px;
    width: 0%;
    background-color: #015582;
    transition: width 1s ease-in-out;
    z-index: 1;
}
.progress-track {
    width: 99%;
    height: 15px;
    background-color: #C9DEEA;
    border: 2px solid #015582;
    position: absolute;
    z-index: 0;
}
.step {
    
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #015582;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    transition: background-color 0.5s ease-in-out;
}
.step img {
    transition: filter 0.5s ease-in-out;
}
.active {
    background-color: #015582;
}
.active img {
    filter: invert(1);
}
.steps-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}